header, section,footer{
	border: 1px solid #000;
	width: 70%;
	margin: 0 auto;
	text-align: center;

}
h1{
	
}
h2{
	text-align: left;
	color: #0f0;
}
.social{
	display: inline-block;
	width: 100px;
	height: 98px;
	background-image: url("../img/css-sprite-example.png");
	background-position-y: -100px; 
	transition: all 0.1s;
}
.social:hover{
	background-position-y: 0; 
}
#twitter{
	background-position-x: -100px;
}
#instagram{
	background-position-x: -300px;
}
#linkedin{
	background-position-x: -400px;
}